body {
  background-color: rgb(30, 30, 30);
  margin: 0%;
  padding: 0%;
}

.container {
  display: flex;
}

.km-logo {
  height: 40px;
  width: 40px;
  border-radius: 9px;

  user-select: none;
}

.leftbar {
  width: 300px;
  padding-left: 30px;

  height: 100vh;

  background-color: rgb(20, 20, 20);

  border-right: 1px solid rgb(26, 26, 26);
}

.menu-part {
  display: flex;
  align-items: center;
}

.menu-part h3 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  color: #f5f5f5;

  margin-left: 10px;
  margin-top: 31px;

  user-select: none;
}

.search-bar {
  user-select: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.magny-glass {
  font-size: 20px;
  color: rgb(129, 129, 129);

  margin-left: 10px;

  -webkit-user-drag: none;
  user-select: none;
}

.search-bar input {
  font-family: "Inter", sans-serif;
  font-size: 20px;

  margin-left: 10px;

  color: #f5f5f5; /* Text na tina-type */

  border: none;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
}

.search-bar input::placeholder {
  color: rgb(129, 129, 129);
}

.search-bar input:focus {
  outline: none;
}

.filters {
  display: flex;
  flex-direction: column;

  margin-top: 40px;
  margin-right: 33px;

  -webkit-user-drag: none;
  user-select: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.filters input {
  display: none;
}

.filters label {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: bold;

  display: block;
  padding: 15px;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(245, 245, 245);

  margin-bottom: 10px;
}

.filters input:checked + label {
  background: rgb(30, 30, 30);
  color: rgb(245, 245, 245);
}

.filters label:active {
  transform: translateY(2px) scale(0.98);
  background: #202020;
}

.filters label:hover {
  background-color: rgb(50, 50, 50);
}

.task-cpntrol {
  flex: 1;
  padding: 30px;

  height: 100vh;
}

.task-control h1 {
  font-family: "Inter", sans-serif;
  font-size: 34px;
  color: #f5f5f5;

  margin-left: 30px;
  margin-bottom: 20px;
}

.todo-bar {
  display: flex;

  margin-bottom: 20px;
  margin-left: 30px;
}

.todo-bar button {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: bold;

  background-color: rgb(30, 30, 30);
  color: #f5f5f5;

  border: none;
  padding: 10px;
  border-radius: 4px;

  cursor: pointer;
}

.name-list {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #f5f5f5;

  margin-left: 15px;
}

.todo-bar button:hover {
  background-color: rgb(50, 50, 50);
}

.todo-bar button:active {
  transform: translateY(2px) scale(0.98);
  background: #202020;
}

.task-lists {
  margin-left: 10px;
  gap: 20px;
}

.task-lists li {
  background-color:transparent;
  border: 1px solid rgb(58, 58, 58);

  padding: 13px;
  margin-bottom: 10px;
  margin-right: 60px;
}

.task-lists li:hover {
  background-color: rgb(34, 34, 34);
}

.task-lists input[type="text"] {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #fffefe;

  margin-left: 10px;

  border: none;
  background-color: transparent;
  padding: 10px;
}

.task-lists input[type="text"]:focus {
  outline: none;
}

.task-lists button {
  font-family: "Inter", sans-serif;
  font-size: 16px;

  background-color: transparent;
  color: #f5f5f5;

  border: none;
  padding: 10px;
  border-radius: 4px;

  cursor: pointer;
}