body {
  background-color: rgb(30, 30, 30);
  margin: 0%;
  padding: 0%;
}

.container {
  display: flex;
}

.km-logo {
  height: 40px;
  width: 40px;
  border-radius: 9px;

  user-select: none;
}

.leftbar {
  width: 300px;
  padding-left: 30px;

  height: 100vh;

  background-color: rgb(20, 20, 20);

  border-right: 1px solid rgb(48, 48, 48);
}

.menu-part {
  display: flex;
  align-items: center;
}

.menu-part h3 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  color: #f5f5f5;

  margin-left: 10px;
  margin-top: 31px;

  user-select: none;
}

.search-bar input {
  font-family: "Inter", sans-serif;
  font-size: 20px;

  margin-left: 10px;

  color: #f5f5f5; /* Text na tina-type */

  border: none;
  background-color: rgb(70, 70, 70);

  padding: 10px;
  border-radius: 10px;
}

.search-bar input::placeholder {
  color: #f5f5f5;
}

.filters {
  display: flex;
  flex-direction: column;

  margin-top:40px;
}

.filters button {
  font-family: "Inter", sans-serif;
  font-size: 15px;

  margin-bottom: 10px;

  width: 260px;
  padding: 15px 20px;
  padding-left: 35px;

  background-color: rgb(25, 25, 25);
  border:none;
  border-radius: 10px;

  color: #f5f5f5;
  text-align: left;
  cursor: pointer;
}
